@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;700&display=swap");

:root {
  /* colors */
  --main-bg-color: #081735;
  --main-text-color: #081735;
  --sub-text-color: #8f95b2;
  --base-white-color: #ffffff;

  /* shadows */
  --card-shadow: 0 0.063em 0.313em 0 rgba(0, 0, 0, 0.07), 0 0.438em 1.063em 0 rgba(0, 0, 0, 0.1);
}

body {
  margin: 0;
  font-family: "Nunito Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul,
li {
  margin: 0;
  padding: 0;
}

.react-datepicker__input-container input {
  cursor: pointer;
  border-radius: 8px;
  padding: 8px;
  padding-left: 0;
  text-align: center;
  font-size: 1.2em;
  font-weight: 400;
  color: var(--main-text-color);
  border: 2px solid #e6e8f0;
  font-family: "Nunito Sans", sans-serif;
}
